.input:focus {
    outline: none;
    border: lawngreen solid 2px ;
}

.superInput {
    margin: 10px;
    background: #883380;
    color: darkorange ;
}


.errorInput {
    margin: 10px;
    border: 2px solid red;
    background: #883380;
    color: darkorange ;
}

.error {
    color: darkorange;
    height: 21px;
    margin-left: 10px
}